{% extends "base.html" %}
{%block content %}
{%load staticfiles  %}
<div class="jumbotron text-center " style="background-color:#F2DEDE">
    <h4> <strong>Whoops!</strong> That page doesn't exsist </h4>
</div>
{% endblock %}
