<!doctype html>
<html lang="en">
<head>
<title>{% block title %}eArmoury{% endblock %}</title>
{% load staticfiles %}
<link rel="shortcut icon" href="{% static "favicon.ico" %}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
<link rel="stylesheet" href="{% static "css/style.css" %}">
{%block extra_css %}{% endblock %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<script src="{% static "matchmaking/js/jquery.cookie.js" %}"></script>
<script src="{% static "matchmaking/js/ajax-setup.js" %}"></script>
{%block extra_js %}{% endblock %}
</head>
<body>
<div class="navbar navbar-default"  style="border-radius: 0px;" role="navigation">
    <div class="container-fluid">
        <div class = "navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "home" %}"> eArmoury </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapsed">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url "player_search" %}">Search</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url "player_update" %}">Update</a></li>
                <li><a href="{% url "player_saved" %}">Saved</a></li>
                {% else %}
                <li><a href="{% url "registration_register" %}">Sign Up</a></li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <p class="navbar-text" id="signed_in_text">Signed in as <a href="{% url "player_update"%}">
                {{ user.username }}</a>,  <a href={% url "auth_logout" %}> Logout </a></p>
            {% else %}
            <form class="navbar-form navbar-right" role="login" method="post" action="{% url "auth_login" %}">
                {% csrf_token %}
                <input type="text" name="username" class="form-control" placeholder="Username">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <input type="hidden" name="next" value="{%url "player_update" %}">
                <button type="submit" class="btn btn-primary inline-login">Login</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
</div>
<div class="container">
        {% block content %}
        {% endblock %}
</div>
<div class="footer">
    Luke McAuley's Software Engineering Large Practical Project - University of Edinburgh 2014
</div>
</body>
</html>
