{% extends "base.html" %}
{%block content %}
{%load staticfiles  %}
<div class="jumbotron">
    <h2> Meet the Dota2 players of your dreams! </h2>
    <h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Stuck in the trench?</h4>
    <h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Living in ELO Hell<h4>
            <h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Always your teams fault? </h4>
            <p>
                <a class="btn btn-primary btn-lg" href="{% url "player_search" %}" role="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </a>
            </p>
</div>
<div class="row">
                <div class="col-md-4">
                    <h1>Friendliness</h1>
                    {% include "matchmaking/leaderboard.html" with players=friendliness_players %}
                </div>
                <div class="col-md-4">
                    <h1>Teamwork</h1>
                    {% include "matchmaking/leaderboard.html" with players=teamwork_players %}
                </div>
                <div class="col-md-4">
                    <h1>Reliability</h1>
                    {% include "matchmaking/leaderboard.html" with players=reliability_players %}
                </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3 class="center-block">Latest Players</h3>
        {%include "matchmaking/player_list.html" with players=latest_players %}
    </div>
</div>
{% endblock %}
