#login_form_submit{
    margin-bottom:20px;
} 

.inline-login{
    vertical-align: bottom;
}

#signed_in_text{
    float:right;
}


/* Sticky footer styles from bootstrap examples
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
.footer {
  position: absolute;
  color :#a1a1a1;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
}

