<table class="table"> 
        <thead>
            <th>Username</th>
            <th>Rating</th>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for player in players %}
        <tr {% if forloop.first %} class="success"{%endif%}>
            <td><a href="{%url "player_detail"  pk=player.pk %}">
                    {{player.user.username}}</a></td>
            <td>
                {% filter floatformat:2 %}
                {% firstof player.fr player.tr player.rr%}
                {% endfilter %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
</table>
