{% extends "base.html" %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "matchmaking/css/player_detail.css" %}">
{% endblock  %}
{% block extra_js %}
<script src="{% static "matchmaking/js/bootstrap-rating-input.js" %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div id="messages" class="text-center" > </div>
    <h1 id="title_bar">{{player.user.username}}
        {% if player.is_new %}
        <span class="label label-default">New</span>
        {% endif %}
        {% if steam_stats.online %}
        {% endif %}
    </h1>
</div> <!--row-->
<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-xs-12">
                <img src="{%static "matchmaking/imgs/loading.gif" %}" id="avatar" alt="steam_avatar" class="img-rounded">
            </div>
        </div> <!--img row -->
        <div class="row">
            <div class="col-xs-12">
                {% if user.is_authenticated and not user == player.user %}
                <div class="row">
                    <div id="save-col" class="col-xs-8">
                        {% if saved %}
                        <a id="forget" class="btn btn-block btn-warning btn-lg " >Forget</a>
                        {% else %}
                        <a id="save" class="btn btn-block btn-success btn-lg " >Save</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-8">
                        <a class="btn btn-block btn-danger btn-lg " href="http://www.steamcommunity.com/profiles/{{player.steam_id}}"> Steam Profile </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        {% if player.dota_buff_profile %}
                        <a class="btn btn-primary btn-block btn-lg" href="http://www.dotabuff.com/players/{{player.dota_buff_profile}}"> Dota Buff Profile </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div><!--col-sm-4-->
    <div class="col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Ratings</h3>
            </div>
            <div class="panel-body">
                {% load bootstrap %}
                {% if show_form %}
                <form action="." method="POST">
                {% endif %}
                    {% csrf_token %}
                <div class="row text-center">
                    {% if not player.get_friendliness %}
                    <h3>This user hasn't been rated yet! </h3>
                    {% endif %}
                    <div class="col-sm-4">
                        <h3>Friendliness</h3>
                        <h3 class="rating">{{player.get_friendliness | floatformat:2}}</h3>
                        {% if show_form %}
                        {{form.friendliness | bootstrap}}
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        <h3>Teamwork</h3>
                        <h3 class="rating">{{player.get_teamwork | floatformat:2}} </h3>
                        {% if show_form %}
                        {{form.teamwork | bootstrap}}
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        <h3>Reliability</h3>
                        <h3 class="rating">{{player.get_reliability | floatformat:2}} </h3>
                        {% if show_form %}
                        {{form.reliability | bootstrap}}
                        {% endif %}
                    </div>
                </div>
                {% if show_form %}
                <div ="row">
                    <div id="rate" class="col-sm-12">
                        <button type="submit" class="btn center-block btn-primary btn-lg">Rate</button>
                    </div>
                </div>
                </form>
                {% endif %}
            </div>
        </div> 
    </div>
</div> <!--row-->
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Profile</h3>
                </div><!--panel-heading-->
            <div class="panel-body">
                <dl class="profile dl-horizontal ">
                    <dt>MMR</dt>
                    <dd>{{player.mmr}}</dd>
                    <dt>Roles</dt>
                    <dd>
                    {%for role in player.roles.all %}
                        {% if forloop.last %}
                        {{role.name}}
                        {% else %}
                        {{role.name}}, 
                        {% endif %}
                    {% endfor %}
                    </dd> 
                    <dt>Wants to Play Ranked?</dt> 
                    <dd>{{player.ranked | yesno}}</dd>
                    <dt>Has a Mic? </dt>
                    <dd>{{player.microphone | yesno}} </dt>
                </dl>
            </div>
        </div>
    </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Info</h3>
                </div><!--panel-heading-->
                <div class="panel-body">
                <dl class="profile dl-horizontal ">
                <dt>Servers</dt>
                <dd>
                    {%for server in player.servers.all %}
                        {% if forloop.last %}
                        {{server.name}}
                        {% else %}
                        {{server.name}}, 
                        {% endif %}
                        {% endfor %}</dd>
                <dt>Availability</dt>
                <dd>
                {% if player.av_weekdays %}
                Weekdays 
                {% endif %}
                {% if player.av_weeknights %}
                Weeknights
                {% endif %}
                {% if player.av_weekends %}
                Weekends
                {% endif %}
                </dd>
                <dt>Languages</dt>
                <dd>
                    {%for lang in player.languages.all %}
                        {% if forloop.last %}
                        {{lang.name}}
                        {% else %}
                        {{lang.name}}, 
                        {% endif %}
                        {% endfor %}</dd>
                </dl>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Message</h3>
                </div><!--panel-heading-->
                <div class="panel-body">
                    {{player.message}}
                </div>
            </div>
        </div>
    </div>
<script>
jQuery(function ($) {
    $.ajax({url:"{%filter escapejs%}{% url "steam_stats" pk=player.pk%}{%endfilter%}"})
       .done(function(data){
            if(data['success']){
                 $('#avatar').attr('src',data['avatarfull']);
             }
             if(data['online']){
                $('<span class="label label-default">Online!</span>').appendTo('#title_bar');
             }
            });

        var error = $('<div class="alert alert-danger" role="alert">Whoops! Something went wrong, try again later!</div>');
        var saved = $('<div class="alert alert-success" role="alert">{{player.user.username | escapejs}} has been saved!</div>');
        var forgotten = $('<div class="alert alert-warning" role="alert">{{player.user.username | escapejs}} has been forgotten! :(</div>');
        var save_button = $('<a id="save" class="btn btn-block btn-success btn-lg " >Save</a>');
        var forget_button = $('<a id="forget" class="btn btn-block btn-warning btn-lg " >Forget</a>');


        $('#save-col').on('click','#save', function () {
            $.ajax({url:"{%filter escapejs%}{% url "save_player"%}{%endfilter%}",
                    type:"POST",
                    data:{target_player:{{player.pk|escapejs}},}
                    })
                .done(function(data){
                    if(data['success']){
                        $('#messages>.alert').remove();
                        saved.appendTo('#messages');
                        $('#save').remove();
                        forget_button.appendTo('#save-col');
                    }else{
                        $('#messages>.alert').remove();
                        error.appendTo('#messages');
                    }})
                .fail(function(data){
                        $('#messages>.alert').remove();
                        error.appendTo('#messages');
                    });
        });
        $('#save-col').on('click','#forget', function () {
            $.ajax({url:"{%filter escapejs%}{% url "forget_player"%}{%endfilter%}",
                    type:"POST",
                    data:{target_player:{{player.pk|escapejs}}},
                    })
                .done(function(data){
                    if(data['success']){
                        $('#messages>.alert').remove();
                        forgotten.appendTo('#messages');
                        $('#forget').remove();
                        save_button.appendTo('#save-col');
                    }else{
                        $('#messages>.alert').remove();
                        error.appendTo('#messages');
                        }
                    })
                .fail(function(data){
                        $('#messages>.alert').remove();
                        error.appendTo('#messages');
                    });
        });
    });
</script>
{% endblock%}
