{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 auth_form">
        <div class="well">
            <h3>Player Details </h3>
<form class="form form-horizontal" method="post" action=".">
  {% csrf_token %} 
  {% load bootstrap %}
  {{form| bootstrap}}
  <button type="submit"class="btn btn-primary btn-lg btn-block">Submit</button>
</form>
</div>
</div>
</div>
{% endblock %}
