{% load staticfiles  %}
{% load search_page %}
<link href="{% static "matchmaking/css/player_list.css"  %}" rel="stylesheet">
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>MMR</th>
                <th>Ranked</th>
                {%for role in roles %}
                <th>{{role.name}}</th>
                {% endfor %}
                <th>Servers</th>
                <th>Languages</th>
                <th>Mic</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
            {% for player in players %}
            <tr>
            <td><a href="{% url "player_detail" pk=player.pk %}" >{{player.user.username}}</a>
                {% if player.is_new %}
                <span class="badge">new</span> 
                {% endif %}
            </td>
            <td>{{player.mmr}}</td>
            <td class="bool">{{player.ranked | tickcross }}</td>
                {% for role in roles %}
                    {% if role in player.roles.all%}
                    <td class="bool">{{ True | tickcross}}</td>
                    {% else %}
                    <td class="bool">{{ False | tickcross}}</td>
                    {% endif %}
                {% endfor %}
            <td>
                {%for server in player.servers.all %}
                    {{server.name}}</br>
                {% endfor %}
            </td>
            <td>
                {%for language in player.languages.all %}
                    {{language.name}}</br>
                {% endfor %}
            </td>
            <td class"boolean"> {{player.mic | tickcross }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
