{% extends "base.html" %}
{% block content %}
{% load staticfiles  %}
{% load search_page %}
{% load bootstrap %}
<link href="{% static "matchmaking/css/slider.css"  %}" rel="stylesheet">
<div class="well">
<form class="form" role="form" action="/players/" method="GET">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-6">
                    {{form.min_mmr|bootstrap}}
                </div>
                <div class="col-xs-6">
                    {{form.max_mmr|bootstrap}}
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-12">
                    {{form.roles|bootstrap}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{form.ranked|bootstrap}}
                </div>
                <div class="col-xs-12">
                    {{form.microphone|bootstrap}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {{form.servers | bootstrap}}
            {{form.languages | bootstrap}}
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-12">
                    <label for="av_weekdays">Availability relative to server</label>
                    {{form.av_weekdays | bootstrap}}
                    {{form.av_weeknights| bootstrap}}
                    {{form.av_weekends | bootstrap}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{form.friendliness_weight | bootstrap}}
                    {{form.teamwork_weight | bootstrap}}
                    {{form.reliability_weight | bootstrap}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <button type="submit" class="btn btn-primary btn-block">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div> <!-- row --!>
</form>
</div>

    {%if show_list%}
        {% include "matchmaking/player_list.html" %}
        {% if not players %}
        <div class="alert alert-info" role="alert">
            <strong>Nothing here!</strong> Try a more general search!
        </div>
        {%endif %}
        <nav>
            <ul class="pager">
                {% if players.has_previous %}
                    <li class="previous"><a href="{% url "player_search"%}?{{request.META.QUERY_STRING| search_page:players.previous_page_number}}" >
                        <span aria-hidden="true">&larr;</span> Back</a>
                    </li>
                {% else %}
                    <li class="previous disabled"><a href="#"<span aria-hidden="true">&larr;</span> Back</a></li>
                {% endif %}
                {% if players.has_next %}
                    <li class="next"><a href="{% url "player_search"%}?{{request.META.QUERY_STRING | search_page:players.next_page_number }}" >Next
                        <span aria-hidden="true">&rarr;</span></a></li>
                {% else %}
                    <li class="next disabled"><a href="#">Next<span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}


<script src="{% static "matchmaking/js/bootstrap-slider.js" %}"> </script>
<script>
{% comment %}
    This needs to be here because there is no clean way of setting the initial value
    for the slider becaue the jquery plugin expects the value to be in data-value
{% endcomment %}
jQuery(function( $ ) {
        $('#slider1').slider({'value':[{{form.friendliness_weight.value}}]});
        $('#slider2').slider({'value':[{{form.teamwork_weight.value}}]});
        $('#slider3').slider({'value':[{{form.reliability_weight.value}}]});
        });
</script>
{% endblock %}

