{% extends "base.html" %}
{% block content %}
<h1>Saved Players</h1>
{% if players %}
{% include "matchmaking/player_list.html" %}
{% else %}
<div class="alert alert-info" role="alert">
    <strong>Nothing here!</strong> Add players from their profile page.
</div>
{% endif %}
{% endblock %}

