{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4 auth_form">
<form class="form form-horizontal" method="post" action=".">
  {% csrf_token %} 
  {% load bootstrap %}
  {{form| bootstrap}}
  <button type="submit" id="login_form_submit" class="btn btn-primary btn-lg btn-block">Login</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<div class="row">
    <div class="col-xs-12">
<a href="{% url 'registration_register' %}">Register!</a>
</div>
</div>
</div>
</div>
{% endblock %}
