{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form class="form form-horizontal" method="post" action=".">
          {% csrf_token %}
          {% load bootstrap %}
          {{ form | bootstrap}}
          <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
        </form>
    </div>
</div>
{% endblock %}
